.navbar {
    background-color: #EF6C00;     
}

.nav-link {
   color: #fff !important;
   font-weight: bold;
}

.fa-shopping-cart, .fa-user-circle {
   font-size: 26px;
}

.fa-shipping-fast, .fa-headset, .fa-exchange-alt {
   font-size: 50px !important;
   margin-right: 12px;
   color: #EF6C00;
}

.mainServices {
   margin-top: 30px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
} 

.card1, .card2, .card3 {
   display: flex;
   width: 300px;
   height: 100px;
   background-color: #fff;    
   justify-content: center;
   align-items: center;
   margin-top: 12px;
   font-family: 'Libre Baskerville', serif;
   font-weight: bold;
}

.card1:hover, .card2:hover, .card3:hover {
   box-shadow: 7px 7px 12px #702828;     
   background-color: whitesmoke;   
}

h3 {
   color: #EF6C00;    
}

.newArrivals {
   margin-top: 50px;
}

.card {
   width: 250px;
   height: auto !important;
   border: 0px solid;
   margin-bottom: 45px;    
}

.card-title {
   font-size: 20px;
}

.card-text {
   font-weight: bold;
   font-size: 20px;
}

.headings {
   margin-top: 25px;
   color: #EF6C00;
   font-family: 'Libre Baskerville', serif;    
}

.r1 {
   justify-content: center;
}

.service {
   color: #EF6C00;
   font-weight: 400;
   text-align: center;
}

.logo {
   height: 60px;
}

.account {
   text-align: center;
   font-weight: bold;
   font-size: 40px;
   margin-top: 20px;
   font-family: 'PT Serif', serif;
   font-weight: 400;
   color: #EF6C00
}

/*----------Contact Us------------*/

.heads {
   background: url(../images/contact_us.jpg) no-repeat;
   background-size: 115% 100%;
   width: 100%;
   margin-top: 50px;
}

/*----------Footer------------*/

.footer{
   margin-top: 50px;
   background: #000;
   color: #fff;
}   

.footer .footerHeading {
   font-size: 18px;
   margin: 25px 0;
   width: 100%;
}

.footer p{
    font-size: 14px;
    cursor: pointer;
}

.copyright{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}

.footer hr{
    margin-top: 10px;
    background-color: #ccc;
}

.footer-image img{
   height: 95px;
  
}

.footer .row .fab{
    padding: 12px;
    font-size: 18px;  
    cursor: pointer;      
}

.pointer {
   cursor: pointer;    
}

.copy {
   font-size: 18px;
   margin-top: -8px;
   font-weight: bold;  
}

hr {
   border: none;
   border-top: 2px solid gainsboro; 
}


@media screen and (max-width: 600px) {
   .card1, .card2, .card3 {
       width: 100%;       
   }

   .r1 {
       justify-content: start;              
   }

   .footer-image img{
       height: 60px;
      
   }
}


@media screen and (max-width: 600px) {
  .home {
      justify-content: center;
      margin-left: 60px;
      text-align: center;
      width: 50%;
      
  }

  .Groceries {
   justify-content: center;
   margin-left: 60px;
   text-align: center;
   width: 50%;       
  }
  
}

@media screen and (min-width: 768px) {
   .footer-image img{
       height: 50px;
       margin-bottom: 20px;
      
   }
}